Django==1.8
argparse==1.2.1
dj-database-url==0.3.0
dj-static==0.0.6
django-toolbelt==0.0.1
-e git+https://github.com/joshuaduffy/dota2api.git@4a3b4a38c99c2ffd4ded7d224baaff90f1f60bdb#egg=dota2api-dev
gunicorn==19.3.0
psycopg2==2.6
requests==2.5.1
static3==0.5.1
wsgiref==0.1.2
