{% extends "base.html" %}


{% block content %}

    <table class="table table-striped">
    {% for a in accounts %}
            <tr>
                <td>
                    {% include 'web_app/includes/syntatic_account.html' with account=a %}
                </td>
            </tr>
        {% endfor %}
    </table>
    You guys have {{ total_matches }} matches together.
    <table class="table table-striped">
        {% for m in matches %}
            <tr>
                <td>
                    {% include "web_app/includes/syntatic_game.html" with match=m accounts=accounts %}
                </td>
            </tr>
        {% endfor %}
    </table>

<div class="pagination">
    <span class="step-links">
        {% if matches.has_previous %}
            <a href="?page={{ matches.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ matches.number }} of {{ matches.paginator.num_pages }}.
        </span>

        {% if matches.has_next %}
            <a href="?page={{ matches.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
{% endblock %}