{% extends "base.html" %}


{% block content %}
    <a href="{% url 'web_app:match_details' match.match_id %}">{{ match.match_id }}</a>
    {% if match.is_radiant_win %}
        <div>Radiant win!</div>
    {% else %}
        <div>Dire win!</div>
    {% endif %}
    <div>Duration: {{ match.duration }}</div>
    <div>Region: {{ match.cluster_name }}</div>
    <div>Mode: {{ match.game_mode_name }}</div>
    <div>Tower status radiant: {{ match.tower_status_radiant }}</div>
    <div>Tower status dire: {{ match.tower_status_dire }}</div>
    <table class="table">
        <thead>
        <tr>
            <th class="col-lg-1">id</th>
            <th class="col-lg-1">slot</th>
            <th class="col-lg-1">hero</th>
            <th class="col-lg-1">kills</th>
            <th class="col-lg-1">deaths</th>
            <th class="col-lg-1">assists</th>
            <th class="col-lg-1">gold</th>
            <th class="col-lg-1">last_hits</th>
            <th class="col-lg-1">denies</th>
            <th class="col-lg-1">gold_per_min</th>
            <th class="col-lg-1">xp_per_min</th>
            <th class="col-lg-1">gold_spent</th>
            <th class="col-lg-1">hero_damage</th>
            <th class="col-lg-1">hero_healing</th>
            <th class="col-lg-1">level</th>
            <th class="col-lg-1">items</th>


        </tr>
        </thead>

        <tbody>
        {% for player in match.detailmatchplayer_set.all %}
            <tr>
                {% if player.player_account %}
                    <th class="col-lg-1">{{ player.player_account.persona_name }}</th>
                {% else %}
                    <th class="col-lg-1">{{ 'private profile' }}</th>
                {% endif %}
                <th class="col-lg-1">{{ player.player_slot }}</th>

                <th class="col-lg-1"><img width="105" height="55" src="{{ player.hero.url_large_portrait }}"></th>
                <th class="col-lg-1">{{ player.kills }}</th>
                <th class="col-lg-1">{{ player.deaths }}</th>
                <th class="col-lg-1">{{ player.assists }}</th>
                <th class="col-lg-1">{{ player.gold }}</th>
                <th class="col-lg-1">{{ player.last_hits }}</th>
                <th class="col-lg-1">{{ player.denies }}</th>
                <th class="col-lg-1">{{ player.gold_per_min }}</th>
                <th class="col-lg-1">{{ player.xp_per_min }}</th>
                <th class="col-lg-1">{{ player.gold_spent }}</th>
                <th class="col-lg-1">{{ player.hero_damage }}</th>
                <th class="col-lg-1">{{ player.hero_healing }}</th>
                <th class="col-lg-1">{{ player.level }}</th>
                <th class="col-lg-1">
                    {% for item in player.detailmatchplayeritem_set.all %}
                        <img height="30" width="40" src="{{ item.item.url_image }}">
                    {% endfor %}
                </th>

            </tr>

        {% endfor %}
        </tbody>
    </table>
{% endblock %}

